[submodule "nvim.lazyvim"]
	path = nvim.lazyvim
	url = git@github.com:imaimaibah/lazyvim-starter.git
[submodule "nvim.astronvim"]
	path = nvim.astronvim
	url = git@github.com:imaimaibah/astronvm-template.git
